<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- XML Mapper -->
<mapper namespace="com.test.project.mapper.BoardMapper">
	<resultMap type="udto" id="userMap">
		<id column="userid" property="id"/>
		<result column="name" property="name" />
	</resultMap>

	<resultMap type="bdto" id="boardMap">
		<id column="seq" property="seq"/>
		<result column="subject" property="subject"/>
		<result column="content" property="content"/>
		<result column="regdate" property="regdate"/>
		<result column="boardid" property="id"/>
		<association property="udto" resultMap="userMap"></association>
	</resultMap>
	

	<select id="list" resultMap="boardMap">
		select
			b.seq, b.subject, b.regdate, 
			b.id as boardid,
			u.id as userid, 
			u.name
		from tblBoard b
			inner join tblUser u
				on u.id = b.id
					order by b.seq desc
	</select>
	
	<insert id="add" parameterType="bdto">
		insert into tblBoard 
		values (seqBoard.nextval, #{subject}, #{content}, default, #{id})
		
	</insert>
	
	<select id="get" parameterType="String" resultMap="boardMap">
		select
			b.*,
			u.name,
			b.id as boardid,
			u.id as userid
		from tblBoard b
			inner join tblUser u
				on u.id = b.id
					
						where seq=#{seq}
						order by b.seq desc
	</select>
	
	<update id="edit" parameterType="bdto">
		update tblBoard set
			subject = #{subject},
			content = #{content}
		where seq = #{seq}
	</update>
	
	<delete id="del" parameterType="String">
		delete from tblBoard where seq = #{seq}
	</delete>
	
</mapper>