<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- src/main/resources -> config -> address.xml -->
<!-- XML Mapper -->
<mapper namespace="com.test.project.mapper.MemberMapper">
	<select id="get" parameterType="String" resultType="udto">
		<!-- username, password, enabled -->
		select 
			id, 
			name, 
			pw, 
			email, 
			age, 
			regdate, 
			auth
		from tblUser where id = #{username}
	
	</select>
	
</mapper>